# 01 - Відтворіть візуалізацію даних

У додатку ви знайдете файл nyt.png, що містить візуалізацію від видання The New York Times. Ваше завдання - відтворити цю візуалізацію максимально близько до оригіналу.

Ви можете використовувати будь-який доступний вам інструмент.

Якщо ви використовуєте код, я очікую від вас посилання на GitHub репозиторій із картинкою та кодом. Якщо ви використовуєте щось на зразок Tableau або Power BI, я очікую від вас посилання на опубліковану візуалізацію. 

Зверніть увагу, що у візуалізації The New York Times дані наводяться у градусах Цельсія, але в даних у csv файлі - ні. Не варто на цьому етапі переводити одну розмірність в іншу, просто відтворіть структуру візуалізації на основі цих даних. Вам потрібно працювати зі стовпчиками Year та J-D.

In [1]:
import pandas as pd
import altair as alt

## Підготовка даних

In [3]:
df = pd.read_csv('GLB.Ts_dSST.csv')
df.head()

                                                                                          Land-Ocean: Global Means
Year Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec  J-D  D-N  DJF  MAM  JJA                       SON
1880 -.29 -.18 -.11 -.19 -.11 -.23 -.21 -.09 -.16 -.23 -.20 -.23 -.19 ***  ***  -.14 -.18                     -.20
1881 -.15 -.17 .04  .04  .02  -.20 -.06 -.02 -.13 -.20 -.21 -.10 -.10 -.11 -.18 .03  -.09                     -.18
1882 .15  .15  .04  -.18 -.16 -.26 -.20 -.05 -.10 -.24 -.16 -.24 -.10 -.09 .06  -.10 -.17                     -.17
1883 -.31 -.39 -.13 -.17 -.20 -.12 -.08 -.15 -.20 -.14 -.22 -.16 -.19 -.20 -.31 -.16 -.12                     -.19

In [4]:
df = df.reset_index()
df.head()

,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,level_9,level_10,level_11,level_12,level_13,level_14,level_15,level_16,level_17,Land-Ocean: Global Means
0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
1,1880,-.29,-.18,-.11,-.19,-.11,-.23,-.21,-.09,-.16,-.23,-.20,-.23,-.19,***,***,-.14,-.18,-.20
2,1881,-.15,-.17,.04,.04,.02,-.20,-.06,-.02,-.13,-.20,-.21,-.10,-.10,-.11,-.18,.03,-.09,-.18
3,1882,.15,.15,.04,-.18,-.16,-.26,-.20,-.05,-.10,-.24,-.16,-.24,-.10,-.09,.06,-.10,-.17,-.17
4,1883,-.31,-.39,-.13,-.17,-.20,-.12,-.08,-.15,-.20,-.14,-.22,-.16,-.19,-.20,-.31,-.16,-.12,-.19

In [5]:
df, df.columns = df[1:] , df.iloc[0]
df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
1,1880,-.29,-.18,-.11,-.19,-.11,-.23,-.21,-.09,-.16,-.23,-.20,-.23,-.19,***,***,-.14,-.18,-.20
2,1881,-.15,-.17,.04,.04,.02,-.20,-.06,-.02,-.13,-.20,-.21,-.10,-.10,-.11,-.18,.03,-.09,-.18
3,1882,.15,.15,.04,-.18,-.16,-.26,-.20,-.05,-.10,-.24,-.16,-.24,-.10,-.09,.06,-.10,-.17,-.17
4,1883,-.31,-.39,-.13,-.17,-.20,-.12,-.08,-.15,-.20,-.14,-.22,-.16,-.19,-.20,-.31,-.16,-.12,-.19
5,1884,-.15,-.08,-.37,-.42,-.36,-.40,-.34,-.26,-.27,-.24,-.30,-.28,-.29,-.28,-.13,-.39,-.34,-.27

**У колонці J-D вказана середня температура за рік**

In [6]:
df = df[["Year", "J-D"]]
df.head()

0  Year   J-D
1  1880  -.19
2  1881  -.10
3  1882  -.10
4  1883  -.19
5  1884  -.29

In [7]:
df["Year"] = pd.to_numeric(df["Year"])
df["J-D"] = pd.to_numeric(df["J-D"])

st19_mean_value = df.loc[(df["Year"] >= 1880) & (df["Year"] <= 1899)]["J-D"].mean()

df["Difference"] = [i-st19_mean_value for i in df["J-D"]]
df.head()

0  Year   J-D  Difference
1  1880 -0.19      0.0385
2  1881 -0.10      0.1285
3  1882 -0.10      0.1285
4  1883 -0.19      0.0385
5  1884 -0.29     -0.0615

In [8]:
df.dtypes

0
Year            int64
J-D           float64
Difference    float64
dtype: object

In [9]:
len(df)

138

## Візуалізація

In [10]:
gray = '#6B6561'
labelgray = '#999999'
gridgray = '#E7E7E7'
orange = '#F26C08'
textgrey = '#333333'

In [11]:
x_labels = [1880, 1890, 1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010]

y_labels = [-0.4, -0.2, 0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2]

points_to_sign = [{'x': 1904, 'y':  df.loc[df["Year"]==1904, 'J-D'].values[0]},
                  {'x': 1944, 'y':  df.loc[df["Year"]==1944, 'J-D'].values[0]},
                  {'x': 1998, 'y':  df.loc[df["Year"]==1998, 'J-D'].values[0]},
                  {'x': 2014, 'y':  df.loc[df["Year"]==2014, 'J-D'].values[0]},
                  {'x': 2015, 'y':  df.loc[df["Year"]==2015, 'J-D'].values[0]},
                  {'x': 2016, 'y':  df.loc[df["Year"]==2016, 'J-D'].values[0]},
                  {'x': 2017, 'y':  df.loc[df["Year"]==2017, 'J-D'].values[0]}
                 ]

In [12]:
chart = alt.Chart(df, 
          title={ "text": ['Annual Global Surface Temperature', 'Relative to Late 19th Century Average'],},
        ).mark_point(
            color = gray, 
            fill = orange, 
            size = 60, 
            shape = 'circle',
            opacity = 1,
            strokeWidth = 1
        ).encode(
            x = alt.X(field='Year', 
                      type = 'nominal', 
                      axis = alt.Axis(
                          values = x_labels,
                          labelColor = labelgray,
                          labelAngle = 0,
                          labelAlign = 'center',
                          labelPadding = 10.0,
                          grid = True,
                          gridColor = gridgray,
                          ticks = False,
                          domain = False,
                      ),
                      title = None, 
                     ),
            y = alt.Y(field = 'Difference', 
                      type = 'quantitative',
                      axis = alt.Axis(
                          values = y_labels,
                          labelExpr="datum.value > 0.0 ? '+' + datum.value + '°' : datum.label + '°'",
                          labelColor = labelgray,
                          labelPadding = 10.0,
                          domain = False,
                          gridColor = gridgray,
                          ticks = True,
                          tickColor = gridgray,
                      ),
                      title = None
                     ),
)

points_text = alt.Chart({'values': points_to_sign}
              ).mark_text(dy=-45,
                          fontSize = 13
              ).encode(x='x:N', y='y:Q', text=alt.Text('x:N'))

subtitle_shape_1 = alt.Chart({'values':[{'x': 1890, 'y': 1.0}]}
                   ).mark_rect(size = 50, 
                               fill=orange,
                               opacity = 1,
                               cornerRadius=8.0,
                               height = 30,
                               width = 90,
                   ).encode(x='x:N', y='y:Q')

subtitle_1 = alt.Chart({'values':[{'x': 1890, 'y': 1.0}]}
             ).mark_text(text=['ALL YEARS'], 
                         color = 'white', 
                         angle=0, 
                         fontSize=12
             ).encode(x='x:N', y='y:Q')

subtitle_shape_2 = alt.Chart({'values':[{'x': 1910, 'y': 1.0}]}
                   ).mark_rect(size = 50, 
                               fill=gridgray,
                               opacity = 1,
                               cornerRadius=8.0,
                               height = 30,
                               width = 130
                   ).encode(x='x:N', y='y:Q')

subtitle_2 = alt.Chart({'values':[{'x': 1910, 'y': 1.0}]}
             ).mark_text(text=['WITHOUT EL NINO'], 
                         color = textgrey, 
                         angle=0, 
                         fontSize=12
             ).encode(x='x:N', y='y:Q')

line = alt.Chart(pd.DataFrame({'y': [0]})).mark_rule(color=textgrey).encode(y='y')

text_on_line = alt.Chart({'values':[{'x': 2010, 'y': 0}]}
               ).mark_text(text=['HOTTER THAN THE', '1880-1899 AVERAGE', '\n', 'COLDER'], 
                           color = textgrey, 
                           angle=0, 
                           align='right', 
                           dx = 50, 
                           dy = -25
               ).encode(x='x:N', y='y:Q')

source = alt.Chart(
    {"values": [{"text": "Source: NASA"}]}
).mark_text(size = 11,
            dx = -450,
            dy = 300,
            color = labelgray
           ).encode(
    text="text:N"
)

alt.layer(line, 
          text_on_line, 
          subtitle_shape_1, 
          subtitle_1, 
          subtitle_shape_2, 
          subtitle_2, 
          chart, 
          points_text,
          source
         ).properties(width = 900, 
                      height = 500,
         ).configure_view(strokeWidth = 0
         ).configure_title(anchor='start', 
                           dx=62, 
                           dy=85, 
                           color = textgrey, 
                           fontWeight=800, 
                           fontSize=14)

alt.LayerChart(...)